* {padding: 0; margin: 0;
font-family: 'Raleway', sans-serif;

}


/*html { 
  background: url(../images/bg3.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
*/


.background {
  
  position:absolute;
    
  display:block
  ;
    
  top
  : -50px;
    
  left
  : 0;
    
  z-index
  : -1;
  height: 100vh;
  width: 100vw;
  
  }
  

.navbar  {
 
  display: flex;
  justify-content: space-between;
  align-items: center;
      background: none;

      margin-top: 30px;
     
      
}

.logo {
  margin: 0 0 0 .45em;
  font-weight: 600;
}
    .logo a {
      color: rgb(28, 24, 22);
    }

    .logo, .navigation {
        list-style: none;
        text-transform: uppercase;
    }

    .logo a, .navigation a {
        text-decoration: none;
        letter-spacing: .25rem;
    }

.navigation  {
  display: flex;
  
}




.navigation a {
  display: block;
  padding: 1em;
  color: black;
  border-right: 1px solid grey;
  font-weight: 400;
}


.navigation a:hover {
    font-weight: 600;
   
}

/* *********** media queries *********** */
@media all and (max-width: 990px) {
  .flex-container {
    flex-direction: column;
  }
  
  .logo {
  margin: 0;
}
  
  .navigation  {
    width: 100%;
    justify-content: space-around;
  }
}


/* ****** ****** */
@media all and (max-width: 600px) {
 
  .logo {
    margin: .25em 0;
    align-self: left; /* align the logo to the left side of 'flex-container' */
}
  
  .navigation {
    flex-direction: column;
  }
  
  .navigation a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1); 
  }
  
  .navigation li:last-of-type a {
    border-bottom: none;
  }
}

.section-main-content {
    max-height: 80vh;
    max-width: 600px;
   
    
    margin: 80px auto auto auto;
    display: flex;
    flex-direction: column;
  
  }



.main-text {
  font-size: 48px;
  color: rgb(28, 24, 22);
  
  align-self: start;
}    

.main-text-highlighted {
  
  font-size: 50px;
}

.call-to-action {
  
  border: 3px solid rgb(28, 24, 22);
  background-color: rgba(238,238,238,0.85);
  align-self: center;
  z-index: 1;
}

.call-to-action p {
  font-size: 35px;
  color: rgb(28, 24, 22);
  padding: 10px 30px;
  font-weight: 600;
}

.call-to-action:hover {
  transition: all 1s;
  background-color:rgba(216, 174, 71, 0.85);


}

.call-to-action:hover p {
  transition: 1s;
  
}

.fa-arrow-right {
  font-size: 30px;
}
.call-to-action:hover .fa-arrow-right {
  transition: 1s;
  transform: rotate(90deg);
}

.section-about-content {
  
  height: 100vh;
  width: 100vw;
 
}


.section-about-content .navbar .logo {
  visibility: hidden;
}